<section id="home" class="first">
  <div class="container">
    <div class="row">
      <div class="col d-flex align-items-center justify-content-between">
        <a href="#"><img class="first__logo" src="img/logo-first.svg" alt="Creative logo"></a>
        <ul class="first__list d-flex align-items-center justify-content-center">
          <li class="first__item"><a href="#home">Home</a></li>
          <li class="first__item"><a href="#about">About</a></li>
          <li class="first__item"><a href="#services">Services</a></li>
          <li class="first__item"><a href="#works">Works</a></li>
          <li class="first__item"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1 class="first__title">Creative Digital Project</h1>
        <p class="first__description">
          Duis mollis, est non commodo luctus,</br>
          nisi erat porttitor ligula, eget lacinia odio sem nec elit.
        </p>
      </div>
    </div>
  </div>
</section>
