<section id="works" class="works">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="section__title section__title--works">Recent Works</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="slider__box">
          <div class="slider__list">
            <div class="slider__item"><img src="img/image-slider-works.jpg" alt="Slider image"></div>
            <div class="slider__item"><img src="img/image-slider-works.jpg" alt="Slider image"></div>
            <div class="slider__item"><img src="img/image-slider-works.jpg" alt="Slider image"></div>
            <div class="slider__item"><img src="img/image-slider-works.jpg" alt="Slider image"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div class="works__btn-box">
          <a class="works__btn" href="#">View Gallery</a>
        </div>
      </div>
    </div>
  </div>
</section>
