<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-4 text-center">
        <div class="about__image-box">
          <img class="about__image" src="img/image-about.jpg" alt="About us image">
        </div>
      </div>
      <div class="col-7 offset-1">
        <p class="about__description">
          Nullam quis risus eget urna <b>mollis ornare</b> vel eu leo.
          Donec id elit non mi porta gravida at eget metus.
          Donec ullamcorper nulla non metus auctor fringilla.
          Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</br>
        </br>
          <b>Morbi leo risus,</b> porta ac consectetur ac, vestibulum at eros.
          Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          Aenean eu leo quam.
          Pellentesque ornare sem lacinia quam venenatis vestibulum.
          Maecenas faucibus mollis interdum.
          Cras mattis consectetur purus sit amet <i>fermentum.</i>
          Sed posuere consectetur est at lobortis.
        </p>
        <div class="about__btn-box text-center">
          <a class="about__btn" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
