<section class="team">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="section__title section__title--team">Meet our team</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="slider__box">
          <div class="slider__list">
            <div class="slider__item">
              <div class="team___unit-box team___unit-box--miguel text-center">
                  <h4 class="team__name ">Miguel Obrien</h4>
                  <p class="team__specialize">CEO & Founder</p>
                <div class="team___unit-social d-flex justify-content-center">
                  <img class="team__soc-icon" src="img/icon-in.svg" alt="Linkedin icon">
                  <img class="team__soc-icon" src="img/icon-google.svg" alt="Google__icon">
                  <img class="team__soc-icon" src="img/icon-facebook.svg" alt="Facebook__icon">
                  <img class="team__soc-icon" src="img/icon-twitter.svg" alt="Twitter__icon">
                </div>
              </div>
              <div class="team___unit-box team___unit-box--jackie text-center">
                  <h4 class="team__name">Jackie Carroll</h4>
                  <p class="team__specialize">Art Director</p>
                <div class="team___unit-social d-flex justify-content-center">
                  <img class="team__soc-icon" src="img/icon-behance.svg" alt="Linkedin icon">
                  <img class="team__soc-icon" src="img/icon-in.svg" alt="Linkedin icon">
                  <img class="team__soc-icon" src="img/icon-google.svg" alt="Google__icon">
                  <img class="team__soc-icon" src="img/icon-facebook.svg" alt="Facebook__icon">
                  <img class="team__soc-icon" src="img/icon-twitter.svg" alt="Twitter__icon">
                </div>
              </div>
              <div class="team___unit-box team___unit-box--ida text-center">
                  <h4 class="team__name">Ida Morrison</h4>
                  <p class="team__specialize">Designer</p>
                <div class="team___unit-social d-flex justify-content-center">
                  <img class="team__soc-icon" src="img/icon-behance.svg" alt="Linkedin icon">
                  <img class="team__soc-icon" src="img/icon-in.svg" alt="Linkedin icon">
                  <img class="team__soc-icon" src="img/icon-google.svg" alt="Google__icon">
                  <img class="team__soc-icon" src="img/icon-facebook.svg" alt="Facebook__icon">
                  <img class="team__soc-icon" src="img/icon-twitter.svg" alt="Twitter__icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div class="works__btn-box">
          <a class="works__btn" href="#">View Gallery</a>
        </div>
      </div>
    </div>
  </div>
</section>
