<section id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col text-center services__bg">
            <h3 class="services__title services__title--graphic">Graphic Design</h3>
            <p class="services__description">Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <h3 class="services__title services__title--seo">Seo & marketing</h3>
            <p class="services__description">Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col text-center">
            <h3 class="services__title services__title--web">Web development</h3>
            <p class="services__description">Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
        <div class="row">
          <div class="col text-center services__bg">
            <h3 class="services__title services__title--mobile">Mobile development</h3>
            <p class="services__description">Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
      </div>
      <div class="col-4 d-flex align-items-stretch justify-content-between">
        <div class="row services__our">
          <div class="col text-center">
            <h3 class="services__title services__title--style services__title--services">Our services</h3>
            <p class="services__description services__description--style">
              “Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.”</br>
              <span><b>- Borat -</b></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
